.nav2{
    color:black;
    background-color:white;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    left:195px; 
    height: 100px;
    padding-top: 12px;
    font-family:"canela deck trial"
}
.nav2 span{
    padding-right: 30px;
    padding-bottom: 10px;
    
}
.im1{
    text-align: center;
    height: 5px;
}
.nav12{
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
padding-top: 100px;
text-align:right;
color: black;
padding-left: 14px;
margin: .5rem;
height: 10px;
font-family:"canela deck trial"
}
.Booknowbtn1{
color: #ffffff;
width: 120px;
height: 30px;
border: 1px solid #FFFFFF;
border-radius: 30px;
background-color: #7B7B3B;;
text-decoration: none;
font-weight: 400;
font-size: 12px;
transition: 0.8s;


}