@import url('https://fonts.cdnfonts.com/css/canela-text-trial');
.navbar{
    color:white;
    background-color:black;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    left:195px; 
    width: 1440px;
    height: 100px;
    padding-top: 900px;
    font-family:"canela deck trial"
    
}
.navbar span{
    padding-right: 30px;
    padding-bottom: 150px;
    
}
.img{
    text-align: center;
    height: 5px;
}
.nav1{
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
text-align:right;
color: #FFFFFF;
padding-left: 14px;
margin: .5rem;
height: 10px;
font-family:"canela deck trial"
}
.Booknowbtn{
color: #ffffff;
width: 120px;
height: 20px;
border: 1px solid #FFFFFF;
border-radius: 40px;
background-color: black;
text-decoration: none;
font-weight: 400;
font-size: 12px;


}