@import url('https://fonts.cdnfonts.com/css/din-alternate');
@import url('https://fonts.cdnfonts.com/css/canela-text-trial');

.parent {
    gap: 10px;
    margin-left: 43px;

}

.arrow-slide-container {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    margin: 38px -528px;
}

.carousel-button-group {
    display: flex;
    gap: 40px;
    color: #114141;
    cursor: pointer;
}

.carousel-left-button {
    width: 1px;
    height: 0px;
    background: #114141;
    border: 2px solid #114141;
    transform: rotate(-180deg);
}

.slide-text {
    display: flex;
    gap: 40px;
    color: #114141;
}

.count {
    font-family: 'DIN Alternate';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #114141;
}

.line {
    width: 19.8px;
    height: 0px;
    border: 1px solid #114141;
    transform: rotate(135deg);
}

.package {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    margin: 20px;
}

.leftArrow {
    width: 1px;
    height: 0px;
    left: 6px;
    top: 5px;
    margin-bottom: 0px;
    margin-left: 156px;
}

.rightarrow {

    width: 1px;
    height: 0px;
    left: 72px;
    top: 557px;
    margin-left: 130px;



}


.package1 {
    padding: 0px 0px 20px 20px;
    background-image: linear-gradient(0deg, #114141 5.5%, rgba(17, 65, 65, 0) 95.55%), url('../assets/images/Rectangle 11.svg');
    background-repeat: no-repeat;
    width: 525px;
    height: 590px;
    background-size: cover;
    position: relative;

    overflow: hidden;
    border-radius: 25px;

}

.package2 {
    padding: 0px 0px 20px 20px;
    background-image: linear-gradient(0deg, #114141 5.5%, rgba(17, 65, 65, 0) 95.55%), url('../assets/images/Rectangle 14.svg');
    width: 525px;
    background-repeat: no-repeat;
    height: 590px;
    background-size: cover;
    position: relative;
    border-radius: 25px;

}


.package3 {
    padding: 0px 0px 20px 20px;
    background-image: linear-gradient(0deg, #114141 5.5%, rgba(17, 65, 65, 0) 95.55%), url('../assets/images/Rectangle 17.svg');
    background-repeat: no-repeat;
    width: 525px;
    height: 590px;
    background-size: cover;
    position: relative;
    border-radius: 25px;
}

.react-multi-carousel-track {
    padding-left: 5px;
    overflow: hidden;
}

.react-multi-carousel-item .react-multi-carousel-item--active {
    width: 630px;
    margin-left: 0px;
}

.react-multi-carousel-item {
    overflow: hidden;
    margin-left: 0px;
    margin-right: 0px;
}

.react-multi-carousel-list {
    overflow: hidden;
    height: 620px;
}

.package-date {
    border: 5px solid #7B7B3B;
    border-radius: 1.5px;
    width: 200px;
    height: 26px;
    background-color: #7B7B3B;
    font-family: 'DIN Alternate';
    color: white;
    border-radius: 7px;
    position: absolute;
    right: 25px;
    top: 32px;
}

.package-t1 {
    font-family: 'Canela Text Trial';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    text-transform: uppercase;
    position: absolute;
    bottom: 130px;
    color: #FFFFFF;
}

.package-l1 {
    font-family: 'Canela Text Trial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    bottom: 100px;
}

.package-r1 {
    font-family: 'DIN Alternate';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    color: #FFFFFF;
    position: absolute;
    bottom: 70px;
}

.package-des {
    font-family: 'Canela Text Trial';
    font-style: normal;
    width: 298px;
    height: 80px;
    font-weight: 100;
    font-size: 14.5px;
    line-height: 157.5%;
    text-transform: lowercase;
    color: #FFFFFF;
    position: absolute;
    bottom: 65px;
    display: none;
}

.package-btn {
    color: #fff;
    width: 131px;
    height: 27px;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    padding: 5px 5px;
    background-color: Transparent;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    position: absolute;
    bottom: 11px;
    text-align: center;
    display: none;
    cursor: pointer;
}

body:has(.package1:hover) .package1 .package-btn {
    display: block;
    transition: transform 0.7s, filter 3s linear;
}

body:has(.package1:hover) .package1 .package-des {
    display: block;
    transition: transform 0.7s, filter 3s linear;
}

body:has(.package1:hover) .package1 .package-t1 {
    bottom: 200px;
}

body:has(.package1:hover) .package1 .package-l1 {
    bottom: 170px;
}

body:has(.package1:hover) .package1 .package-r1 {
    bottom: 150px;
}

body:has(.package2:hover) .package2 .package-btn {
    display: block;
    transition: transform 0.7s, filter 3s linear;
}

body:has(.package2:hover) .package2 .package-des {
    display: block;
    transition: transform 0.7s, filter 3s linear;
}

body:has(.package2:hover) .package2 .package-t1 {
    bottom: 200px;
}

body:has(.package2:hover) .package2 .package-l1 {
    bottom: 170px;
}

body:has(.package2:hover) .package2 .package-r1 {
    bottom: 150px;
}

body:has(.package3:hover) .package3 .package-btn {
    display: block;
    transition: transform 0.7s, filter 3s linear;
}

body:has(.package3:hover) .package3 .package-des {
    display: block;
    transition: transform 0.7s, filter 3s linear;
}

body:has(.package3:hover) .package3 .package-t1 {
    bottom: 200px;

}

body:has(.package3:hover) .package3 .package-l1 {
    bottom: 170px;
}

body:has(.package3:hover) .package3 .package-r1 {
    bottom: 150px;
}
@media only screen and (min-width: 501px) and (max-width: 688px) {
    .arrow-slide-container {
        display: flex;
        justify-content: space-evenly;
        overflow: hidden;
        margin: -24px -205px;
    }
    

}

@media only screen and (min-width: 767px) and (max-width: 899px) {
    .package {
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: center;
        scale: 0.9;
    }

    .arrow-slide-container {
        display: flex;
        justify-content: space-evenly;
        overflow: hidden;
        margin: -50px 0px 16px 0px;
    }

    .package1 {
        padding: 0px 0px 20px 20px;
        width: 250px;
        height: 274px;
        background-size: cover;
        position: relative;
        overflow: hidden;
        border-radius: 25px;
    }

    .package2 {
        padding: 0px 0px 20px 20px;
        width: 250px;
        height: 274px;
        background-size: cover;
        position: relative;
        overflow: hidden;
        border-radius: 25px;
    }

    .package3 {
        padding: 0px 0px 20px 20px;
        width: 250px;
        height: 274px;
        background-size: cover;
        position: relative;
        overflow: hidden;
        border-radius: 25px;
    }

    .package-date {
        border: 1px solid #7B7B3B;
        border-radius: 1.5px;
        width: 147px;
        height: 16px;
        background-color: #7B7B3B;
        color: white;
        border-radius: 7px;
        position: absolute;
        padding: 5px 5px;
        right: 10px;
        top: 10px;
        font-size: 12px;
    }

    .package-t1 {
        font-family: 'Canela Text Trial';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 31px;
        text-transform: uppercase;
        position: absolute;
        bottom: 72px;
        color: #FFFFFF;
    }

    .package-l1 {
        font-family: 'Canela Text Trial';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: #FFFFFF;
        position: absolute;
        bottom: 54px;
    }

    .package-r1 {
        font-family: 'DIN Alternate';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
        position: absolute;
        bottom: 32px;
    }

    .package-des {
        font-family: 'Canela Text Trial';
        font-style: normal;
        width: 200px;
        height: 80px;
        font-weight: 100;
        font-size: 11px;
        line-height: 157.5%;
        text-transform: lowercase;
        color: #FFFFFF;
        position: absolute;
        bottom: 65px;
        display: none;
    }

    .package-btn {
        color: #fff;
        width: 84px;
        height: 20px;
        border: 2px solid #FFFFFF;
        border-radius: 30px;
        background-color: Transparent;
        text-decoration: none;
        font-weight: 400;
        font-size: 12px;
        position: absolute;
        bottom: 10px;
        text-align: center;
        display: none;
        cursor: pointer;
        padding: 5px 5px;
    }

    body:has(.package1:hover) .package1 .package-t1 {
        bottom: 190px;
    }

    body:has(.package2:hover) .package2 .package-t1 {
        bottom: 190px;
    }

    body:has(.package3:hover) .package3 .package-t1 {
        bottom: 190px;
    }

    body:has(.package1:hover) .package1 .package-l1 {
        bottom: 179px;
        font-size: 11px;
    }

    body:has(.package2:hover) .package2 .package-l1 {
        bottom: 179px;
        font-size: 11px;
    }

    body:has(.package3:hover) .package3 .package-l1 {
        bottom: 179px;
        font-size: 11px;
    }

    body:has(.package1:hover) .package1 .package-r1 {
        bottom: 160px;
        font-size: 11px;
    }

    body:has(.package2:hover) .package2 .package-r1 {
        bottom: 160px;
        font-size: 11px;
    }

    body:has(.package3:hover) .package3 .package-r1 {
        bottom: 160px;
        font-size: 11px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
    .parent {
        scale: 0.9;
    }

    .package-date {
        border: 1px solid #7B7B3B;
        border-radius: 1.5px;
        width: 148px;
        height: 16px;
        background-color: #7B7B3B;
        color: white;
        border-radius: 7px;
        position: absolute;
        padding: 5px 1px;
        top: 10px;
        font-size: 12px;
    }

    .package1 {
        padding: 0px 0px 20px 20px;
        width: 302px;
        height: 426px;
        background-size: cover;
        position: relative;
        overflow: hidden;
        border-radius: 25px;


    }


    .arrow-slide-container {
        display: flex;
        justify-content: space-evenly;
        gap: 600px;
        margin: 46px 0px;
    }

    .package2 {
        padding: 0px 0px 20px 20px;
        width: 302px;
        height: 426px;
        background-size: cover;
        position: relative;
        border-radius: 25px;
    }

    .package3 {
        padding: 0px 0px 20px 20px;
        width: 302px;
        height: 426px;
        background-size: cover;
        position: relative;
        border-radius: 25px;
    }

    .package {
        scale: 0.9;
    }

    .package-r1 {
        bottom: 60px;
    }

    .package-l1 {
        bottom: 88px;
    }

    .package-t1 {
        bottom: 114px;
    }

    .package-btn {
        width: 106px;
        height: 22px;
        padding: 7px 13px;
    }

    body:has(.package1:hover) .package1 .package-l1 {
        bottom: 179px;
    }

    body:has(.package1:hover) .package1 .package-r1 {
        bottom: 155px;
    }

    body:has(.package2:hover) .package2 .package-l1 {
        bottom: 179px;
    }

    body:has(.package2:hover) .package2 .package-r1 {
        bottom: 155px;
    }

    body:has(.package3:hover) .package3 .package-l1 {
        bottom: 179px;
    }

    body:has(.package3:hover) .package3 .package-r1 {
        bottom: 155px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {

    .package-date {
        border: 5px solid #7B7B3B;
        border-radius: 1.5px;
        width: 148px;
        height: 16px;
        background-color: #7B7B3B;
        color: white;
        border-radius: 7px;
        position: absolute;
        right: 22px;
        padding: 5px 1px;
        top: 22px;
        font-size: 12px;
    }

    .parent {
        gap: 10px;
        margin-left: 54px;
        width: 100;
    }

    .package1 {
        padding: 4px 0px 27px 51px;
        width: 340px;
        height: 426px;
        background-size: cover;
        position: relative;
        overflow: hidden;
        border-radius: 25px;
    }

    .arrow-slide-container {
        display: flex;
        justify-content: space-evenly;
        gap: 600px;
        margin: 46px 0px 0px 0px;
    }

    .package2 {
        padding: 4px 0px 27px 51px;
        width: 340px;
        height: 426px;
        background-size: cover;
        position: relative;
        overflow: hidden;
        border-radius: 25px;
    }

    .package3 {
        padding: 4px 0px 27px 51px;
        width: 340px;
        height: 426px;
        background-size: cover;
        position: relative;
        overflow: hidden;
        border-radius: 25px;
    }

    .react-multi-carousel-item {
        overflow: hidden;
        margin-left: 48px;
        margin-right: -64px;
    }

    .package {
        scale: 0.9;
    }

    .package-r1 {
        bottom: 60px;
    }

    .package-l1 {
        bottom: 88px;
    }

    .package-t1 {
        bottom: 114px;
    }

    .package-btn {
        width: 106px;
        height: 22px;
        padding: 7px 13px;
    }

    body:has(.package1:hover) .package1 .package-l1 {
        bottom: 179px;
    }

    body:has(.package1:hover) .package1 .package-r1 {
        bottom: 155px;
    }

    body:has(.package2:hover) .package2 .package-l1 {
        bottom: 179px;
    }

    body:has(.package2:hover) .package2 .package-r1 {
        bottom: 155px;
    }

    body:has(.package3:hover) .package3 .package-l1 {
        bottom: 179px;
    }

    body:has(.package3:hover) .package3 .package-r1 {
        bottom: 155px;
    }
}

@media only screen and (min-width: 1441px) and (max-width: 1719px) {
    .package-date {
        border: 5px solid #7B7B3B;
        border-radius: 1.5px;
        width: 148px;
        height: 16px;
        background-color: #7B7B3B;
        color: white;
        border-radius: 7px;
        position: absolute;
        right: 10px;
        padding: 5px 1px;
        top: 10px;
        font-size: 12px;
    }

    .package1 {
        padding: 0px 0px 20px 20px;
        width: 352px;
        height: 426px;
        background-size: cover;
        position: relative;
        overflow: hidden;
        border-radius: 25px;
    }

    .arrow-slide-container {
        display: flex;
        justify-content: space-evenly;
        gap: 600px;
        margin: 46px 0px 0px 0px;
    }

    .package2 {
        padding: 0px 0px 20px 20px;
        width: 352px;
        height: 426px;
        background-size: cover;
        position: relative;
        border-radius: 25px;
    }

    .package3 {
        padding: 0px 0px 20px 20px;
        width: 352px;
        height: 426px;
        background-size: cover;
        position: relative;
        border-radius: 25px;
    }

    .package {
        scale: 0.9;
    }

    .package-r1 {
        bottom: 60px;
    }

    .package-l1 {
        bottom: 88px;
    }

    .package-t1 {
        bottom: 114px;
    }

    .package-btn {
        width: 106px;
        height: 22px;
        padding: 7px 13px;
    }

    body:has(.package1:hover) .package1 .package-l1 {
        bottom: 179px;
    }

    body:has(.package1:hover) .package1 .package-r1 {
        bottom: 155px;
    }

    body:has(.package2:hover) .package2 .package-l1 {
        bottom: 179px;
    }

    body:has(.package2:hover) .package2 .package-r1 {
        bottom: 155px;
    }

    body:has(.package3:hover) .package3 .package-l1 {
        bottom: 179px;
    }

    body:has(.package3:hover) .package3 .package-r1 {
        bottom: 155px;
    }

}

@media only screen and (max-width: 767px) {
    .package {
        scale: 0.9;
        gap: 9px;
    }

    .package1 {
        padding: 0px 0px 20px 20px;
        width: 216px;
        height: 307px;
        background-size: cover;
        position: relative;
        margin-left: 3px;
        overflow: hidden;
        border-radius: 25px;
    }

    .package2 {
        padding: 0px 0px 20px 20px;
        width: 216px;
        background-repeat: no-repeat;
        height: 307px;
        background-size: cover;
        position: relative;
        border-radius: 25px;
    }

    .package3 {
        padding: 0px 0px 20px 20px;
        width: 216px;
        height: 307px;
        background-size: cover;
        position: relative;
        overflow: hidden;
        border-radius: 25px;
    }

    .package-date {
        border: 1px solid #7B7B3B;
        border-radius: 1.5px;
        width: 111px;
        height: 12px;
        background-color: #7B7B3B;
        color: white;
        border-radius: 7px;
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 9px;
        padding: 5px 5px;
    }

    .package-r1 {
        font-family: 'DIN Alternate';
        font-style: normal;
        font-weight: 700;
        font-size: 11px;
        line-height: 16px;
        color: #FFFFFF;
        position: absolute;
        bottom: 24px;
    }

    .package-l1 {
        font-family: 'Canela Text Trial';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 14px;
        text-transform: uppercase;
        color: #FFFFFF;
        position: absolute;
        bottom: 45px;
    }

    .package-t1 {
        font-family: 'Canela Text Trial';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 31px;
        text-transform: uppercase;
        position: absolute;
        bottom: 62px;
        color: #FFFFFF;
    }

    body:has(.package1:hover) .package1 .package-t1 {
        bottom: 185px;
    }

    body:has(.package2:hover) .package2 .package-t1 {
        bottom: 185px;
    }

    body:has(.package3:hover) .package3 .package-t1 {
        bottom: 185px;
    }

    body:has(.package1:hover) .package1 .package-l1 {
        bottom: 176px;
        font-size: 9px;
    }

    body:has(.package2:hover) .package2 .package-l1 {
        bottom: 176px;
        font-size: 9px;
    }

    body:has(.package3:hover) .package3 .package-l1 {
        bottom: 176px;
        font-size: 9px;
    }

    body:has(.package1:hover) .package1 .package-r1 {
        bottom: 160px;
        font-size: 9px;
    }

    body:has(.package2:hover) .package2 .package-r1 {
        bottom: 160px;
        font-size: 9px;
    }

    body:has(.package3:hover) .package3 .package-r1 {
        bottom: 160px;
        font-size: 9px;
    }

    .package-des {
        font-family: 'Canela Text Trial';
        font-style: normal;
        width: 133px;
        height: 80px;
        font-weight: 100;
        font-size: 9px;
        line-height: 157.5%;
        text-transform: lowercase;
        color: #FFFFFF;
        position: absolute;
        bottom: 65px;
        display: none;
    }

    .package-btn {
        color: #fff;
        width: 76px;
        height: 14px;
        border: 2px solid #FFFFFF;
        border-radius: 30px;
        background-color: Transparent;
        text-decoration: none;
        font-weight: 400;
        font-size: 10px;
        position: absolute;
        bottom: 17px;
        text-align: center;
        display: none;
        cursor: pointer;
        padding: 5px 5px;
    }
}



@media only screen and (min-width: 2000px) and (max-width: 2560px) {


    .parent {
        gap: 10px;
        margin-left: 112px;

    }

    .package1 {
        padding: 0px 0px 20px 20px;
        width: 685px;
        height: 575px;
        background-size: cover;
        position: relative;
        overflow: hidden;
        border-radius: 25px;
    }

    .package2 {
        padding: 0px 0px 20px 20px;
        width: 685px;
        height: 575px;
        background-size: cover;
        position: relative;

        overflow: hidden;
        border-radius: 25px;
    }

    .package3 {
        padding: 0px 0px 20px 20px;
        width: 685px;
        height: 575px;
        background-size: cover;
        position: relative;
        overflow: hidden;
        border-radius: 25px;
    }

    .react-multi-carousel-item {
        overflow: hidden;
        margin-left: 70px;
        margin-right: -93px;
    }

}

.mobile-package-card {
    width: 317px;
    height: 378px;
    background: linear-gradient(0deg, #114141 5.5%, rgba(17, 65, 65, 0) 95.5%);
    border-radius: 0px 0px 25px 25px;
    /* margin-left: 15px; */
}

.mobile-package-image {
    width: 317px;
    height: 378px;
    filter: brightness(70%);
    background: linear-gradient(0deg, #114141 5.5%, rgba(17, 65, 65, 0) 95%);
    border-radius: 0px 0px 25px 25px;
}

@media only screen and (max-width: 500px) {

    .mob-package-carousal .react-multi-carousel-list {
        height: 378px;
        margin-left: 20px;
    }

    .react-multi-carousel-item .react-multi-carousel-item--active {
        width: 347px !important;
        margin-right: 15px;
    }

    .react-multi-carousel-track {
        padding-left: 0px;
    }
}

.mobile-carousal-button-container {
    margin-top: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mob-package-carousal {
    margin-top: 20px;
}

.package-date-mob {
    border: 6px solid #7B7B3B;
    border-radius: 1.5px;
    width: 158px;
    font-size: 12px;
    margin: 3px 21px;
    height: 18px;
    background-color: #7B7B3B;
    font-family: 'DIN Alternate';
    color: white;
    border-radius: 7px;
    text-align: center;
    position: absolute;
    right: 34px;
    top: 17px;
}

.package-t1-mob {
    font-family: 'Canela Text Trial';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    left: 28px;
    line-height: 31px;
    text-transform: uppercase;
    position: absolute;
    bottom: 130px;
    color: #FFFFFF;
}

.package-l1-mob {
    font-family: 'Canela Text Trial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    left: 28px;
    bottom: 100px;
}

.package-r1-mob {
    font-family: 'DIN Alternate';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    color: #FFFFFF;
    position: absolute;
    left: 28px;
    bottom: 70px;
}



.package-btn-mob {
    color: #fff;
    width: 120px;
    height: 17px;
    left: 28px;
    top: 317px;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    padding: 5px 0px;
    background-color: Transparent;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    text-align: center;
    cursor: pointer;
}

.package1-mob {
    width: 317px;
    height: 378px;
    left: 0px;
    top: 0px;
    background-image: linear-gradient(0deg, #114141 5.5%, rgba(17, 65, 65, 0) 95.55%), url('../assets/images/Rectangle 11.svg');
    background-repeat: no-repeat;
    border-radius: 0px 18px 25px 25px;
}
.package2-mob {
    width: 317px;
    height: 378px;
    left: 0px;
    top: 0px;
    background-image: linear-gradient(0deg, #114141 5.5%, rgba(17, 65, 65, 0) 95.55%), url('../assets/images/Rectangle 14.svg');
    background-repeat: no-repeat;
    border-radius: 0px 18px 25px 25px;
}
.package3-mob {
    width: 317px;
    height: 378px;
    left: 0px;
    top: 0px;
    background-image: linear-gradient(0deg, #114141 5.5%, rgba(17, 65, 65, 0) 95.55%), url('../assets/images/Rectangle 17.svg');
    background-repeat: no-repeat;
    border-radius: 0px 18px 25px 25px;
}